# Build files
/target

# IDE settings
.idea
.vscode
.DS_Store

# Helm deps
mariadb-*.tgz
raw_secrets.yaml

# Reports file
report.json
coverage.xml
cobertura.xml
lcov.info
clippy.json
deny.json
sonar-issues.json

# Sonar scanner
.sonar
.scannerwork
sonar.yml
