# Docs: https://github.com/sagiegurari/cargo-make

env_files = ["./dev.env"]

[env]
CARGO_TARGET_DIR = "target"

[config]
default_to_workspace = false

[tasks.clean]
args    = ["clean"]
command = "cargo"

[tasks.build]
args    = ["build", "-p", "core-server"]
command = "cargo"

[tasks.clippy]
args    = ["clippy", "--all-targets", "--", "${@}"]
command = "cargo"

[tasks.clippy_warn]
args    = ["clippy", "--all-targets", "--", "-D", "warnings"]
command = "cargo"

[tasks.format]
args      = ["fmt"]
command   = "cargo"
toolchain = "nightly"

[tasks.fmt]
alias = "format"

[tasks.run]
args = [
  "run",
  "-p",
  "core-server",
  "--",
  "--config",
  "config/config-procivis-base.yml",
  "--config",
  "config/config-local.yml",
]
command = "cargo"

[tasks.runwallet]
args = [
  "run",
  "-p",
  "core-server",
  "--",
  "--config",
  "config/config-procivis-base.yml",
  "--config",
  "config/config-local.yml",
]
command = "cargo"
env = { "ONE_app__serverPort" = "3001", "ONE_app__databaseUrl" = "mysql://core:886eOqVMmlHsayu6Vyxw@localhost:3307/core", "ONE_app__coreBaseUrl" = "http://0.0.0.0:3001" }

[tasks.runw]
args    = ["watch", "--ignore", "*.md", "--ignore", "*.yaml", "--ignore", "*.yml", "--exec", "make run"]
command = "cargo"

[tasks.test]
args    = ["test"]
command = "cargo"

[tasks.check]
dependencies = ["format", "clippy_warn", "test"]

[tasks.unit-tests]
args    = ["test", "--lib"]
command = "cargo"

[tasks.integration-tests]
args    = ["test", "--test", "integration_tests"]
command = "cargo"

[tasks.dbstart]
args    = ["compose", "-f", "docker/db.yml", "up", "-d"]
command = "docker"

[tasks.dbstop]
args    = ["compose", "-f", "docker/db.yml", "down"]
command = "docker"

[tasks.dbdrop]
script = [
  "docker rm --force docker-mariadb-1",
  "docker rm --force docker-walletdb-1",
  "docker volume rm docker_mariadb_data",
]

[tasks.seaormcli]
install_crate = { crate_name = "sea-orm-cli", version = "1.1.0", binary = "sea-orm-cli", test_arg = "--version" }

[tasks.generate_migration]
args         = ["migrate", "generate", "${@}", "-d", "./lib/migration/"]
command      = "sea-orm-cli"
dependencies = ["seaormcli"]

[tasks.dbtempent]
args = [
  "generate",
  "entity",
  "--date-time-crate",
  "time",
  "--database-url",
  "mysql://core:886eOqVMmlHsayu6Vyxw@localhost/core",
  "-o",
  "lib/sql-data-provider/src/entity_new/",
]
command = "sea-orm-cli"
dependencies = ["seaormcli"]

############################################################### UNIFFI
[tasks.uniffi_library_build]
script = "cargo build --package one-core-uniffi --lib --release"

[tasks.uniffi_library_path]
env           = { "LIB" = "${CARGO_TARGET_DIR}/release/libone_core_uniffi.so" }
script        = "set_env UNIFFI_LIB ${LIB}"
script_runner = "@duckscript"

[tasks.uniffi_library_path.mac]
env = { "LIB" = "${CARGO_TARGET_DIR}/release/libone_core_uniffi.dylib" }

[tasks.uniffi_library]
run_task = { name = ["uniffi_library_build", "uniffi_library_path"] }

# generates binding interfaces for documentation purposes
[tasks.generate_uniffi_interfaces]
dependencies = ["uniffi_library"]
script = '''
for language in "swift" "kotlin"
do
  cargo run --features=uniffi/cli -p uniffi-bindgen --bin uniffi-bindgen generate --library $UNIFFI_LIB -l $language --no-format -o ${CARGO_TARGET_DIR}/uniffi-interface
done
'''

#### Android
[tasks.add_android_targets]
args = [
  "target",
  "add",
  "i686-linux-android",
  "x86_64-linux-android",
  "armv7-linux-androideabi",
  "aarch64-linux-android",
]
command = "rustup"

[tasks.install_cross]
args    = ["install", "cross", "--git", "https://github.com/cross-rs/cross", "--rev", "1511a28"]
command = "cargo"

[tasks.generate_kotlin]
# since the native libraries are built inside cross, we need to build another library in the native environment
dependencies = ["uniffi_library"]
script = '''
cargo run --features=uniffi/cli -p uniffi-bindgen --bin uniffi-bindgen generate --library $UNIFFI_LIB -l kotlin --no-format -o ${CARGO_TARGET_DIR}/android_tmp
mkdir -p ${CARGO_TARGET_DIR}/uniffi/android/java/ch/procivis/one/core
mv ${CARGO_TARGET_DIR}/android_tmp/ch/procivis/one/core/one_core_uniffi.kt ${CARGO_TARGET_DIR}/uniffi/android/java/ch/procivis/one/core/one_core.kt
rm -rf ${CARGO_TARGET_DIR}/android_tmp
'''

[tasks.build_android_targets]
script = '''
for target in "i686-linux-android" "x86_64-linux-android" "armv7-linux-androideabi" "aarch64-linux-android"
do
  case $target in
    i686-linux-android)
      arch=x86
      stripCmd=i686-linux-android-strip
      ;;

    x86_64-linux-android)
      arch=x86_64
      stripCmd=x86_64-linux-android-strip
      ;;
  
    armv7-linux-androideabi)
      arch=armeabi-v7a
      stripCmd=arm-linux-androideabi-strip
      ;;
  
    aarch64-linux-android)
      arch=arm64-v8a
      stripCmd=aarch64-linux-android-strip
      ;;
  esac
  
  # Android 15 alignment: https://developer.android.com/guide/practices/page-sizes#compile-r26-lower
  RUSTFLAGS="-C link-arg=-Wl,-z,max-page-size=16384" \
    cross build -p one-core-uniffi --target $target --profile mobile-release

  targetDir="${CARGO_TARGET_DIR}/uniffi/android/jniLibs/$arch"
  mkdir -p $targetDir
  cross-util run --target $target -- "$stripCmd -s -x -o $targetDir/libprocivis_one_core.so ${CARGO_TARGET_DIR}/$target/mobile-release/libone_core_uniffi.so"
done
'''

[tasks.build_android_uniffi]
dependencies = ["install_cross", "build_android_targets", "generate_kotlin"]

## Android-gradle
[tasks.prepare_gradle_build_directory]
dependencies = ["build_android_uniffi"]
script = '''
mkdir -p ${CARGO_TARGET_DIR}/platforms/android
cp -r platforms/android/* ${CARGO_TARGET_DIR}/platforms/android/
cp -r ${CARGO_TARGET_DIR}/uniffi/android/* ${CARGO_TARGET_DIR}/platforms/android/onecore/src/main/
'''

[tasks.build_android_gradle]
dependencies = ["prepare_gradle_build_directory"]
script = '''
cd ${CARGO_TARGET_DIR}/platforms/android
./gradlew assemble dokkaHtml
'''

[tasks.build_android]
dependencies = ["build_android_gradle"]
script = '''
mkdir -p ${CARGO_TARGET_DIR}/bindings/android/
cp -r ${CARGO_TARGET_DIR}/platforms/android/onecore/build/outputs/aar/* ${CARGO_TARGET_DIR}/bindings/android/
cp -r ${CARGO_TARGET_DIR}/platforms/android/onecore/build/dokka/* ${CARGO_TARGET_DIR}/bindings/android/
'''

#### iOS
[tasks.add_ios_targets]
script = '''
rustup target add aarch64-apple-ios-sim aarch64-apple-ios x86_64-apple-ios
'''

[tasks.build_ios_code]
env = { "IPHONEOS_DEPLOYMENT_TARGET" = "13.0" }
script = '''
for target in "x86_64-apple-ios" "aarch64-apple-ios-sim" "aarch64-apple-ios"
do
  cargo build --package one-core-uniffi --lib --target $target --profile mobile-release
done
'''

[tasks.generate_swift]
script = '''
cargo run --features=uniffi/cli -p uniffi-bindgen --bin uniffi-bindgen generate --library ${CARGO_TARGET_DIR}/aarch64-apple-ios/mobile-release/libone_core_uniffi.dylib -l swift -o ${CARGO_TARGET_DIR}/uniffi/ios/
'''

[tasks.collect_ios_libs]
script = """
sed -i '' 's/^module\\ ProcivisOneCoreFFI/framework\\ module\\ ProcivisOneCoreFFI/' ${CARGO_TARGET_DIR}/uniffi/ios/ProcivisOneCoreFFI.modulemap

find . -type d -name ProcivisOneCoreFFI.framework -exec rm -rf {} \\; 2>/dev/null || true
for arch in "x86_64-apple-ios" "aarch64-apple-ios-sim" "aarch64-apple-ios"
do
  pushd ${CARGO_TARGET_DIR}/$arch/mobile-release >/dev/null &&
  mkdir -p ProcivisOneCoreFFI.framework &&
  cd ProcivisOneCoreFFI.framework &&
  mkdir -p Headers Modules Resources &&
  cp ../../../uniffi/ios/ProcivisOneCoreFFI.modulemap ./Modules/module.modulemap &&
  cp ../../../uniffi/ios/ProcivisOneCoreFFI.h ./Headers/ProcivisOneCoreFFI.h &&
  strip -S -x -o ./ProcivisOneCoreFFI -r ../libone_core_uniffi.a 2>/dev/null &&
  popd >/dev/null
done
"""

[tasks.create_ffi_xc_framework]
script = '''
lipo -create ${CARGO_TARGET_DIR}/x86_64-apple-ios/mobile-release/ProcivisOneCoreFFI.framework/ProcivisOneCoreFFI ${CARGO_TARGET_DIR}/aarch64-apple-ios-sim/mobile-release/ProcivisOneCoreFFI.framework/ProcivisOneCoreFFI -output ${CARGO_TARGET_DIR}/aarch64-apple-ios-sim/mobile-release/ProcivisOneCoreFFI.framework/ProcivisOneCoreFFI
rm -rf ${CARGO_TARGET_DIR}/ProcivisOneCoreFFI.xcframework || echo 'skip removing'
xcodebuild -create-xcframework -framework ${CARGO_TARGET_DIR}/aarch64-apple-ios/mobile-release/ProcivisOneCoreFFI.framework -framework ${CARGO_TARGET_DIR}/aarch64-apple-ios-sim/mobile-release/ProcivisOneCoreFFI.framework -output ${CARGO_TARGET_DIR}/ProcivisOneCoreFFI.xcframework
'''

[tasks.build_ios_framework]
script = '''
pushd ${CARGO_TARGET_DIR} >/dev/null
export TARGET_DIR=`pwd`
popd

pushd platforms/ios >/dev/null
rm -rf ${TARGET_DIR}/platforms/ios

mkdir -p ${TARGET_DIR}/platforms/ios/build/ios
xcodebuild build -project ProcivisOneCore.xcodeproj -scheme ProcivisOneCore -configuration Release -destination "generic/platform=iOS" CONFIGURATION_BUILD_DIR=${TARGET_DIR}/platforms/ios/build/ios CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

# Comment out limitation to arm64 only
# https://developer.apple.com/documentation/xcode-release-notes/xcode-10_2-release-notes#Known-Issues
sed -i '' 's/^#elif defined(__arm64__) && __arm64__$/#elif 1/' ${TARGET_DIR}/platforms/ios/build/ios/ProcivisOneCore.framework/Headers/ProcivisOneCore-Swift.h

mkdir -p ${TARGET_DIR}/platforms/ios/build/ios-simulator
xcodebuild build -project ProcivisOneCore.xcodeproj -scheme ProcivisOneCore -configuration Release -destination "generic/platform=iOS Simulator" CONFIGURATION_BUILD_DIR=${TARGET_DIR}/platforms/ios/build/ios-simulator CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

pushd ${TARGET_DIR}/platforms/ios >/dev/null
rm -rf ../../bindings/ios && mkdir -p ../../bindings/ios
xcodebuild -create-xcframework \
  -framework build/ios/ProcivisOneCore.framework \
  -framework build/ios-simulator/ProcivisOneCore.framework \
  -output ../../bindings/ios/ProcivisOneCore.xcframework

cp -r ../../ProcivisOneCoreFFI.xcframework ../../bindings/ios
'''

[tasks.generate_ios_docs]
script = '''
export TARGET_DIR=`pwd`/${CARGO_TARGET_DIR}
echo ${CARGO_TARGET_DIR}
echo ${TARGET_DIR}
echo `pwd`
pushd platforms/ios >/dev/null
xcodebuild docbuild -project ProcivisOneCore.xcodeproj -scheme ProcivisOneCore -derivedDataPath ${TARGET_DIR}/platforms/ios/docs CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
cp -R ${TARGET_DIR}/platforms/ios/docs/Build/Products/Debug-iphoneos/ProcivisOneCore.doccarchive ${TARGET_DIR}/bindings/ios
$(xcrun --find docc) process-archive transform-for-static-hosting ${TARGET_DIR}/bindings/ios/ProcivisOneCore.doccarchive/ --output-path ${TARGET_DIR}/bindings/ios/htmldoc --hosting-base-path ios
'''

[tasks.build_ios]
dependencies = [
  "add_ios_targets",
  "build_ios_code",
  "generate_swift",
  "collect_ios_libs",
  "create_ffi_xc_framework",
  "build_ios_framework",
  "generate_ios_docs",
]
script = 'echo "--- output available in ${CARGO_TARGET_DIR}/bindings/ios ---"'

#### Typescript
[tasks.generate_ts]
dependencies = ["uniffi_library"]
script = '''
cargo run -p uniffi-bindgen-ts-interface --bin uniffi-bindgen-ts-interface -- --library $UNIFFI_LIB --out-dir ${CARGO_TARGET_DIR}/uniffi/ts 
'''

############################################################### API tests
[tasks.install_api_tests]
cwd = "${API_TEST_REPO_PATH}"
description = "Install dependencies for Playwright tests"
script = '''
echo Install api test node_modules
yarn install --cwd api-tests
echo Install test lib node_modules
yarn install --cwd one-tests-lib
echo Installation completed
'''
script_runner = "sh"

[tasks.api_tests]
# dependencies = ["install_api_tests"]
cwd = "${API_TEST_REPO_PATH}"
description = "Run Playwright API tests"
script = '''
cd api-tests
yarn test  --project core
'''
script_runner = "sh"

[tasks.api_tests_report]
cwd = "${API_TEST_REPO_PATH}"
description = "Run Playwright API tests report"
script = '''
cd api-tests
yarn playwright show-report
'''
script_runner = "sh"
