app:
  insecureVcApiEndpointsEnabled: true
walletProvider:
  PROCIVIS_ONE:
    type: PROCIVIS_ONE
    display: walletProvider.procivisOne
    params:
      private:
      public:
        walletName: "Procivis One Test Wallet"
        walletlink: "https://procivis.ch"
        android:
          bundleId: ch.procivis.one.wallet.test
        ios:
          bundleId: ch.procivis.one.wallet.test
        lifetime:
          expirationTime: 86400 # 24*60*60 seconds
          minimumRefreshTime: 60
        issuerIdentifier: UUID # -> use ES256 key
