walletProvider:
  PROCIVIS_ONE:
    params:
      public:
        walletName: "Procivis One Demo Wallet"
        walletInstanceAttestation:
          integrityCheck:
            android:
              bundleId: ch.procivis.one.wallet.demo
              signingCertificateFingerprints: [
                  "3C:54:08:A0:AB:59:9A:5B:51:72:3F:DA:58:8E:81:DB:4F:A0:65:41:0E:7D:C2:65:4D:F1:A5:67:5B:47:13:52", # bitrise
                  "35:D7:F1:2E:39:BB:4A:12:59:1C:69:B4:A4:81:8B:80:76:06:5E:40:38:94:8C:82:90:7F:F7:CB:8F:E0:69:59", # google-play
                ]
            ios:
              bundleId: AGG3V6QN4G.ch.procivis.one.wallet.demo
              enforceProductionBuild: false
        appVersion:
          minimum: "v1.50.0"
        eudiWalletInfo:
          providerName: "Procivis One Demo"
keyStorage:
  AZURE_VAULT:
    params:
      private:
        vaultUrl: "https://procivis-one-demo.vault.azure.net"
        clientId: "9b645db1-39eb-485c-af62-47b3a498bec2"
signer:
  REGISTRATION_CERTIFICATE:
    display:
      en: Wallet Relying Party Registration Certificate
      de: Wallet Relying Party Registration Certificate
    order: 0
    type: REGISTRATION_CERTIFICATE
    params:
      private:
        payload:
          issuer: "https://core.demo.procivis-one"
          audience: ["wrpr"]
          maxValidityDuration: 604800 # 7 days
        revocationMethod: TOKENSTATUSLIST
