format:
  PHYSICAL_CARD:
    type: "PHYSICAL_CARD"
    display: "format.physicalCard"
    order: 340
    params:
      public:
        embedLayoutProperties: false
  JWT:
    type: "JWT"
    display: "format.jwt"
    order: 300
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  SD_JWT:
    type: "SD_JWT"
    display: "format.sdjwt"
    order: 310
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  JSON_LD_CLASSIC:
    type: "JSON_LD_CLASSIC"
    display: "format.jsonldClassic"
    order: 320
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  JSON_LD_BBSPLUS:
    type: "JSON_LD_BBSPLUS"
    display: "format.jsonldBbsplus"
    order: 330
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  MDOC:
    type: "MDOC"
    display: "format.mdoc"
    order: 100
    params:
      public:
        msoExpiresIn: 259200 # 72h in seconds
        msoExpectedUpdateIn: 86400 # 24h in seconds
        msoMinimumRefreshTime: 300 # 5 min in seconds
        leeway: 60
  SD_JWT_VC:
    type: "SD_JWT_VC"
    display: "format.sdjwtVc"
    order: 200
    priority: 100
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  SD_JWT_VC_SWIYU:
    type: "SD_JWT_VC"
    display:
      en: "IETF SD-JWT VC (SWIYU)"
      de: "IETF SD-JWT VC (SWIYU)"
    order: 201
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
        swiyuMode: true
identifier:
  DID:
    display: "identifier.did"
    enabled: true
    order: 0
  CERTIFICATE:
    display: "identifier.certificate"
    enabled: true
    order: 1
  KEY:
    display: "identifier.key"
    enabled: true
    order: 2
  CA:
    display: "identifier.certificate_authority"
    enabled: true
    order: 3
issuanceProtocol:
  OPENID4VCI_DRAFT13:
    display: "exchange.openid4vciDraft13"
    order: 1
    type: "OPENID4VCI_DRAFT13"
    params:
      public:
        preAuthorizedCodeExpiresIn: 300
        tokenExpiresIn: 86400
        refreshExpiresIn: 7776000 # 90 days in seconds
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  OPENID4VCI_DRAFT13_SWIYU:
    display:
      en: "OpenID4VCI (SWIYU)"
      de: "OpenID4VCI (SWIYU)"
    order: 2
    type: "OPENID4VCI_DRAFT13_SWIYU"
    params:
      public:
        preAuthorizedCodeExpiresIn: 300
        tokenExpiresIn: 86400
        refreshExpiresIn: 7776000 # 90 days in seconds
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  OPENID4VCI_FINAL1:
    display: exchange.openid4vciFinal1
    order: 3
    type: "OPENID4VCI_FINAL1"
    params:
      public:
        oauthAttestationLeeway: 60
        keyAttestationLeeway: 60
        preAuthorizedCodeExpiresIn: 300
        tokenExpiresIn: 86400
        refreshExpiresIn: 7776000 # 90 days in seconds
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  OPENID4VCI_FINAL1_HAIP:
    display:
      en: "OpenID4VCI final 1.0 (HAIP)"
      de: "OpenID4VCI final 1.0 (HAIP)"
    order: 4
    type: "OPENID4VCI_FINAL1"
    params:
      public:
        urlScheme: "haip-vci"
        oauthAttestationLeeway: 60
        keyAttestationLeeway: 60
        preAuthorizedCodeExpiresIn: 300
        tokenExpiresIn: 86400
        refreshExpiresIn: 7776000 # 90 days in seconds
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
verificationProtocol:
  OPENID4VP_DRAFT20:
    display: "exchange.openid4vp20"
    order: 1
    type: "OPENID4VP_DRAFT20"
    params:
      public:
        useRequestUri: true
        urlScheme: openid4vp-draft20
        verifier:
          interactionExpiresIn: 3600
          supportedClientIdSchemes:
            [verifier_attestation, redirect_uri, did, x509_san_dns]
        holder:
          supportedClientIdSchemes:
            [verifier_attestation, redirect_uri, did, x509_san_dns]
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  MDOC_OPENID4VP:
    display:
      en: "OpenID4VP (ISO 18013-7 Annex B)"
      de: "OpenID4VP (ISO 18013-7 Annex B)"
    order: 2
    type: "OPENID4VP_DRAFT20"
    params:
      public:
        useRequestUri: true
        urlScheme: mdoc-openid4vp
        verifier:
          interactionExpiresIn: 3600
          supportedClientIdSchemes: [x509_san_dns]
        holder:
          supportedClientIdSchemes: [x509_san_dns]
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  OPENID4VP_DRAFT20_SWIYU:
    display:
      en: "OpenID4VP draft 20 (SWIYU)"
      de: "OpenID4VP draft 20 (SWIYU)"
    order: 3
    type: "OPENID4VP_DRAFT20_SWIYU"
    params:
      public:
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
        verifier:
          interactionExpiresIn: 3600
  OPENID4VP_DRAFT25:
    display: "exchange.openid4vp25"
    order: 10
    type: "OPENID4VP_DRAFT25"
    params:
      public:
        useRequestUri: true
        urlScheme: openid4vp-draft25
        verifier:
          interactionExpiresIn: 3600
          useDcql: false
          supportedClientIdSchemes:
            [verifier_attestation, redirect_uri, did, x509_san_dns, x509_hash]
        holder:
          supportedClientIdSchemes:
            [verifier_attestation, redirect_uri, did, x509_san_dns, x509_hash]
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  OPENID4VP_DRAFT25_EUDI:
    display:
      en: "OpenID4VP draft 25 (EUDI)"
      de: "OpenID4VP draft 25 (EUDI)"
    order: 30 #TODO: ONE-8430: explicitly last to prefer OPENID4VP_FINAL1 on holder side
    type: "OPENID4VP_DRAFT25"
    params:
      public:
        useRequestUri: true
        urlScheme: openid4vp
        verifier:
          interactionExpiresIn: 3600
          useDcql: false
          supportedClientIdSchemes:
            [
              verifier_attestation,
              redirect_uri,
              decentralized_identifier,
              x509_san_dns,
              x509_hash,
            ]
        holder:
          supportedClientIdSchemes:
            [
              verifier_attestation,
              redirect_uri,
              decentralized_identifier,
              x509_san_dns,
              x509_hash,
            ]
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  OPENID4VP_FINAL1:
    display: "exchange.openid4vpFinal1"
    order: 20
    type: "OPENID4VP_FINAL1"
    params:
      public:
        useRequestUri: true
        verifier:
          interactionExpiresIn: 3600
          supportedClientIdSchemes:
            [
              verifier_attestation,
              redirect_uri,
              decentralized_identifier,
              x509_san_dns,
              x509_hash,
            ]
        holder:
          supportedClientIdSchemes:
            [
              verifier_attestation,
              redirect_uri,
              decentralized_identifier,
              x509_san_dns,
              x509_hash,
            ]
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  OPENID4VP_FINAL1_HAIP:
    display:
      en: "OpenID4VP final 1.0 (HAIP)"
      de: "OpenID4VP final 1.0 (HAIP)"
    order: 21
    type: "OPENID4VP_FINAL1"
    params:
      public:
        useRequestUri: true
        urlScheme: haip-vp
        verifier:
          interactionExpiresIn: 3600
          supportedClientIdSchemes:
            [
              verifier_attestation,
              redirect_uri,
              decentralized_identifier,
              x509_san_dns,
              x509_hash,
            ]
        holder:
          supportedClientIdSchemes:
            [
              verifier_attestation,
              redirect_uri,
              decentralized_identifier,
              x509_san_dns,
              x509_hash,
            ]
          # EUDI compatibility flag for non-standard compliant vp_token formatting
          dcqlVpTokenSinglePresentation: true
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
transport:
  HTTP:
    type: "HTTP"
    display: "transport.http"
    enabled: true
    order: 0
    params: {}
revocation:
  NONE:
    display: "revocation.none"
    order: 0
    type: "NONE"
    params: null
  BITSTRINGSTATUSLIST:
    display: "revocation.bitStringStatusList"
    order: 1
    enabled: true
    type: "BITSTRINGSTATUSLIST"
    params:
      public:
        format: "JWT"
  MDOC_MSO_UPDATE_SUSPENSION:
    display: "revocation.mdocMsoUpdateSuspension"
    order: 3
    enabled: true
    type: "MDOC_MSO_UPDATE_SUSPENSION"
    params: null
  LVVC:
    display: "revocation.lvvc"
    order: 2
    type: "LVVC"
    params:
      private:
        credentialExpiry: 2592000 # 30 days
        minimumRefreshTime: 300
        leeway: 60
  TOKENSTATUSLIST:
    display: "revocation.tokenList"
    order: 5
    enabled: true
    type: "TOKENSTATUSLIST"
    params:
      public:
        format: "JWT"
  CRL:
    display: "revocation.crl"
    order: 6
    type: "CRL"
    params:
      public:
        refreshInterval: 86400
did:
  KEY:
    display: "did.key"
    order: 0
    type: "KEY"
    params: null
  WEB:
    type: "WEB"
    display: "did.web"
    order: 1
    params:
      public:
        keys:
          min: 1
          max: 5
          authentication:
            min: 1
            max: 5
          assertionMethod:
            min: 1
            max: 5
          keyAgreement:
            min: 1
            max: 1
          capabilityInvocation:
            min: 1
            max: 1
          capabilityDelegation:
            min: 1
            max: 1
  JWK:
    type: "JWK"
    display: "did.jwk"
    order: 2
    params: null
  ION:
    display: "did.ion"
    order: 4
    enabled: false
    type: "UNIVERSAL_RESOLVER"
    params:
      public:
        resolverUrl: https://dev.uniresolver.io
        supportedMethodNames:
          - "ion"
  WEBVH:
    type: "WEBVH"
    display: "did.webvh"
    order: 21
    params:
      public:
        keys:
          min: 1
          max: 5
          authentication:
            min: 1
            max: 5
          assertionMethod:
            min: 1
            max: 5
          keyAgreement:
            min: 0
            max: 1
          capabilityInvocation:
            min: 0
            max: 1
          capabilityDelegation:
            min: 0
            max: 1
        leeway: 60
      private:
        maxDidLogEntryCheck: 10
datatype:
  STRING:
    display: "datatype.string"
    type: "STRING"
    order: 100
    params:
      public:
        supportedInputMode: TEXT
      private:
        holder:
          valueExtraction: ENABLED_FALLBACK
  NUMBER:
    display: "datatype.number"
    type: "NUMBER"
    order: 200
    params:
      public:
        supportedInputMode: NUMBER_INPUT
      private:
        holder:
          valueExtraction: ENABLED_FALLBACK
  DATE:
    display: "datatype.date"
    type: "DATE"
    order: 300
    params:
      public:
        formats: ["date", "datetime"]
        supportedInputMode: DATE_PICKER
      private:
        holder:
          valueExtraction: ENABLED
  BIRTH_DATE:
    display: "datatype.birthDate"
    type: "DATE"
    order: 310
    params:
      public:
        formats: ["date", "datetime"]
        preferredFormat: "date"
        min: 1900-01-01
        max: "NOW"
        error:
          de: "Bitte wählen Sie ein Datum zwischen 1900-1-1 und heute"
          en: "Please choose a date between 1900-1-1 and today"
        supportedInputMode: DATE_PICKER
  EMAIL:
    display: "datatype.email"
    type: "STRING"
    order: 110
    params:
      public:
        autocomplete: true
        placeholder: "abc@abc.com"
        error:
          de: "Please provide email like abc@abc.com"
          en: "Please provide email like abc@abc.com"
        pattern: '^[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}$'
        supportedInputMode: TEXT
  PICTURE:
    display: "datatype.picture"
    type: "PICTURE"
    order: 400
    params:
      public:
        accept:
          - image/jpeg
          - image/png
        fileSize: 4194304
        supportedInputMode: FILE_UPLOAD
        showAs: IMAGE
      private:
        holder:
          valueExtraction: ENABLED
  MDL_PICTURE:
    display: "datatype.mdlPicture"
    type: "PICTURE"
    order: 402
    params:
      public:
        accept:
          - image/jpeg
          - image/jp2
        fileSize: 4194304
        showAs: IMAGE
        supportedInputMode: FILE_UPLOAD
        encodeAsMdlPortrait: true
      private:
        holder:
          valueExtraction: ENABLED
  SWIYU_PICTURE:
    display:
      en: "Picture (SWIYU)"
      de: "Bild (SWIYU)"
    type: "SWIYU_PICTURE"
    order: 403
    params:
      public:
        accept:
          - image/jpeg
        fileSize: 4194304
        supportedInputMode: FILE_UPLOAD
        showAs: IMAGE
      private:
        holder:
          valueExtraction: ENABLED
  COUNT:
    display: "datatype.count"
    type: "NUMBER"
    order: 210
    params:
      public:
        min: 0
        max: 9999
        error:
          de: "Bitte wählen Sie eine Zahl zwischen 0 und 9999"
          en: "Please provide a number between 0 and 9999"
        supportedInputMode: NUMBER_INPUT
  OBJECT:
    display: "datatype.object"
    type: "OBJECT"
    order: 500
    params: null
  BOOLEAN:
    display: "datatype.boolean"
    type: "BOOLEAN"
    order: 301
    params:
      public:
        supportedInputMode: CHECKBOX
      private:
        holder:
          valueExtraction: ENABLED_FALLBACK
  ARRAY:
    display: "datatype.array"
    type: "ARRAY"
    order: 101
    params: null
keyAlgorithm:
  EDDSA:
    display: "keyAlgorithm.eddsa"
    order: 0
    params: null
    holderPriority: 50
  ECDSA:
    display: "keyAlgorithm.ecdsa"
    order: 1
    params: null
    holderPriority: 100
  BBS_PLUS:
    display: "keyAlgorithm.bbsPlus"
    order: 2
    params: null
  ML_DSA:
    display: "keyAlgorithm.mlDsa"
    order: 3
    params: null
keyStorage:
  INTERNAL:
    display: "keyStorage.internal"
    type: "INTERNAL"
    order: 0
  PKCS11:
    display: "keyStorage.pkcs11"
    type: "PKCS11"
    enabled: false
    order: 2
    params: null
keySecurityLevel:
  BASIC:
    display: keySecurityLevel.basic
    order: 10
    params:
      public:
        holder:
          priority: 40
          keyStorages: ["INTERNAL"]
  ENHANCED_BASIC:
    enabled: false
    display: keySecurityLevel.enhancedBasic
    order: 20
    params:
      public:
        holder:
          priority: 0
          keyStorages: []
  MODERATE:
    display: keySecurityLevel.moderate
    order: 30
    params:
      public:
        holder:
          priority: 30
          keyStorages: []
  HIGH:
    display: keySecurityLevel.high
    order: 40
    params:
      public:
        holder:
          priority: 20
          keyStorages: ["AZURE_VAULT"]
task:
  SUSPEND_CHECK:
    type: "SUSPEND_CHECK"
    display: "task.suspendCheck"
    order: 0
  RETAIN_PROOF_CHECK:
    type: "RETAIN_PROOF_CHECK"
    display: "task.retainProofCheck"
    order: 1
  CERTIFICATE_CHECK:
    type: "CERTIFICATE_CHECK"
    display: "task.certificateCheck"
    order: 2
  HOLDER_CHECK_CREDENTIAL_STATUS:
    type: "HOLDER_CHECK_CREDENTIAL_STATUS"
    display: "task.holderCheckCredentialStatus"
    order: 3
  INTERACTION_EXPIRATION_CHECK:
    type: "INTERACTION_EXPIRATION_CHECK"
    display: "task.interactionExpirationCheck"
    order: 4
cacheEntities:
  X509_CRL:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  STATUS_LIST_CREDENTIAL:
    cacheType: DB
    refreshAfter: 300
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  DID_DOCUMENT:
    cacheType: DB
    refreshAfter: 300
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  JSON_LD_CONTEXT:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  VCT_METADATA:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  JSON_SCHEMA:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  TRUST_LIST:
    cacheType: DB
    refreshAfter: 300
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  OPENID_METADATA:
    cacheType: DB
    refreshAfter: 300
    cacheRefreshTimeout: 86400
    cacheSize: 1000
trustManagement:
  SIMPLE_TRUST_LIST:
    display: "trustManagement.simpleTrustList"
    type: "SIMPLE_TRUST_LIST"
    order: 1
    enabled: true
    params:
      public:
        enablePublishing: true
        proofOfPossessionLeeway: 60
blobStorage:
  DB:
    enabled: true
verificationEngagement:
  QR_CODE:
    display: verificationEngagement.qrCode
    order: 1
    enabled: true
certificateValidation:
  leeway: 60
