format:
  PHYSICAL_CARD:
    type: "PHYSICAL_CARD"
    display: "format.physicalCard"
    order: 340
    params:
      public:
        embedLayoutProperties: false
  JWT:
    type: "JWT"
    display: "format.jwt"
    order: 300
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  SD_JWT:
    type: "SD_JWT"
    display: "format.sdjwt"
    order: 310
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  JSON_LD_CLASSIC:
    type: "JSON_LD_CLASSIC"
    display: "format.jsonld_classic"
    order: 320
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  JSON_LD_BBSPLUS:
    type: "JSON_LD_BBSPLUS"
    display: "format.jsonld_bbsplus"
    order: 330
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
  MDOC:
    type: "MDOC"
    display: "format.mdoc"
    order: 100
    params:
      public:
        msoExpiresIn: 259200 # 72h in seconds
        msoExpectedUpdateIn: 86400 # 24h in seconds
        msoMinimumRefreshTime: 300 # 5 min in seconds
        leeway: 60
        embedLayoutProperties: true
  SD_JWT_VC:
    type: "SD_JWT_VC"
    display: "format.sdjwt_vc"
    order: 200
    params:
      public:
        leeway: 60
        embedLayoutProperties: true
issuanceProtocol:
  OPENID4VCI_DRAFT13:
    display: "exchange.openid"
    order: 1
    type: "OPENID4VCI_DRAFT13"
    params:
      public:
        preAuthorizedCodeExpiresIn: 300
        tokenExpiresIn: 86400
        refreshExpiresIn: 7776000 # 90 days in seconds
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
verificationProtocol:
  OPENID4VP_DRAFT20:
    display: "exchange.openid4vp20"
    order: 1
    type: "OPENID4VP_DRAFT20"
    params:
      public:
        useRequestUri: true
        verifier:
          supportedClientIdSchemes: [redirect_uri, verifier_attestation, did]
          defaultClientIdScheme: verifier_attestation
        holder:
          supportedClientIdSchemes: [redirect_uri, verifier_attestation, did]
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  MDOC_OPENID4VP:
    display: "exchange.mdocOpenid"
    order: 2
    type: "OPENID4VP_DRAFT20"
    params:
      public:
        useRequestUri: true
        urlScheme: mdoc-openid4vp
        x509CaCertificate: MIIC6jCCApCgAwIBAgIULOnT9JtSjwzSk5XUCy4lzAXgzsMwCgYIKoZIzj0EAwQwgZYxHDAaBgNVBAMME2NhLmRldi5tZGwtcGx1cy5jb20xCzAJBgNVBAYTAkNIMQ8wDQYDVQQHDAZadXJpY2gxFDASBgNVBAoMC1Byb2NpdmlzIEFHMR4wHAYDVQQLDBVDZXJ0aWZpY2F0ZSBBdXRob3JpdHkxIjAgBgkqhkiG9w0BCQEWE3N1cHBvcnRAcHJvY2l2aXMuY2gwHhcNMjUwMzEzMTQzNzAwWhcNMzUwMzExMTQzNzAwWjCBljEcMBoGA1UEAwwTY2EuZGV2Lm1kbC1wbHVzLmNvbTELMAkGA1UEBhMCQ0gxDzANBgNVBAcMBlp1cmljaDEUMBIGA1UECgwLUHJvY2l2aXMgQUcxHjAcBgNVBAsMFUNlcnRpZmljYXRlIEF1dGhvcml0eTEiMCAGCSqGSIb3DQEJARYTc3VwcG9ydEBwcm9jaXZpcy5jaDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABC8hfYMdzhP87J1EnaaIInDNqGebPugTdzANq8kd2no4Xav_cyHsOVCe6FL7yYHButVR7xrmCbQip_0ctE0cdrejgbkwgbYwDgYDVR0PAQH_BAQDAgEGMDAGA1UdHwQpMCcwJaAjoCGGH2h0dHA6Ly9jYS5kZXYubWRsLXBsdXMuY29tL2NybC8wHgYDVR0SBBcwFYITY2EuZGV2Lm1kbC1wbHVzLmNvbTASBgNVHRMBAf8ECDAGAQH_AgEAMB0GA1UdDgQWBBTlL0m2S8gpkPlLfxPsQM9qwqL4cDAfBgNVHSMEGDAWgBTlL0m2S8gpkPlLfxPsQM9qwqL4cDAKBggqhkjOPQQDBANIADBFAiAwMs_rQEDwt0HbrAt4lvAwT3jrtqqR4BzZDQhqqh8zyAIhAKTYqzmSNPsC3TZzs4uCBIsS3LKDZHCktmj3La1PCGSS
        verifier:
          supportedClientIdSchemes: [x509_san_dns]
          defaultClientIdScheme: x509_san_dns
        holder:
          supportedClientIdSchemes: [x509_san_dns]
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
  OPENID4VP_DRAFT25:
    display: "exchange.openid4vp25"
    order: 3
    type: "OPENID4VP_DRAFT25"
    params:
      public:
        useRequestUri: true
        verifier:
          supportedClientIdSchemes: [redirect_uri, verifier_attestation, did]
          defaultClientIdScheme: verifier_attestation
        holder:
          supportedClientIdSchemes: [redirect_uri, verifier_attestation, did]
        redirectUri:
          enabled: true
          allowedSchemes: ["https"]
transport:
  HTTP:
    type: "HTTP"
    display: "transport.http"
    enabled: true
    order: 0
    params: {}
revocation:
  NONE:
    display: "revocation.none"
    order: 0
    type: "NONE"
    params: null
  BITSTRINGSTATUSLIST:
    display: "revocation.bitStringStatusList"
    order: 1
    enabled: true
    type: "BITSTRINGSTATUSLIST"
    params:
      public:
        format: "JWT"
  MDOC_MSO_UPDATE_SUSPENSION:
    display: "revocation.mdocMsoUpdateSuspension"
    order: 3
    enabled: true
    type: "MDOC_MSO_UPDATE_SUSPENSION"
    params: null
  LVVC:
    display: "revocation.lvvc"
    order: 2
    type: "LVVC"
    params:
      private:
        credentialExpiry: 2592000 # 30 days
        minimumRefreshTime: 300
  TOKENSTATUSLIST:
    display: "revocation.tokenList"
    order: 5
    enabled: true
    type: "TOKENSTATUSLIST"
    params:
      public:
        format: "JWT"
did:
  KEY:
    display: "did.key"
    order: 0
    type: "KEY"
    params: null
  WEB:
    type: "WEB"
    display: "did.web"
    order: 1
    params:
      public:
        keys:
          min: 1
          max: 5
          authentication:
            min: 1
            max: 5
          assertionMethod:
            min: 1
            max: 5
          keyAgreement:
            min: 1
            max: 1
          capabilityInvocation:
            min: 1
            max: 1
          capabilityDelegation:
            min: 1
            max: 1
  JWK:
    type: "JWK"
    display: "did.jwk"
    order: 2
    params: null
  X509:
    type: "X509"
    display: "did.x509"
    order: 3
    enabled: false
    params: null
  ION:
    display: "did.ion"
    order: 4
    enabled: false
    type: "UNIVERSAL_RESOLVER"
    params:
      public:
        resolverUrl: https://dev.uniresolver.io
        supportedMethodNames:
          - "ion"
  MDL:
    type: "MDL"
    display: "did.mdl"
    order: 5
    params:
      private:
        iacaCertificate: MIIC6jCCApCgAwIBAgIULOnT9JtSjwzSk5XUCy4lzAXgzsMwCgYIKoZIzj0EAwQwgZYxHDAaBgNVBAMME2NhLmRldi5tZGwtcGx1cy5jb20xCzAJBgNVBAYTAkNIMQ8wDQYDVQQHDAZadXJpY2gxFDASBgNVBAoMC1Byb2NpdmlzIEFHMR4wHAYDVQQLDBVDZXJ0aWZpY2F0ZSBBdXRob3JpdHkxIjAgBgkqhkiG9w0BCQEWE3N1cHBvcnRAcHJvY2l2aXMuY2gwHhcNMjUwMzEzMTQzNzAwWhcNMzUwMzExMTQzNzAwWjCBljEcMBoGA1UEAwwTY2EuZGV2Lm1kbC1wbHVzLmNvbTELMAkGA1UEBhMCQ0gxDzANBgNVBAcMBlp1cmljaDEUMBIGA1UECgwLUHJvY2l2aXMgQUcxHjAcBgNVBAsMFUNlcnRpZmljYXRlIEF1dGhvcml0eTEiMCAGCSqGSIb3DQEJARYTc3VwcG9ydEBwcm9jaXZpcy5jaDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABC8hfYMdzhP87J1EnaaIInDNqGebPugTdzANq8kd2no4Xav_cyHsOVCe6FL7yYHButVR7xrmCbQip_0ctE0cdrejgbkwgbYwDgYDVR0PAQH_BAQDAgEGMDAGA1UdHwQpMCcwJaAjoCGGH2h0dHA6Ly9jYS5kZXYubWRsLXBsdXMuY29tL2NybC8wHgYDVR0SBBcwFYITY2EuZGV2Lm1kbC1wbHVzLmNvbTASBgNVHRMBAf8ECDAGAQH_AgEAMB0GA1UdDgQWBBTlL0m2S8gpkPlLfxPsQM9qwqL4cDAfBgNVHSMEGDAWgBTlL0m2S8gpkPlLfxPsQM9qwqL4cDAKBggqhkjOPQQDBANIADBFAiAwMs_rQEDwt0HbrAt4lvAwT3jrtqqR4BzZDQhqqh8zyAIhAKTYqzmSNPsC3TZzs4uCBIsS3LKDZHCktmj3La1PCGSS
  SD_JWT_VC_ISSUER_METADATA:
    type: "SD_JWT_VC_ISSUER_METADATA"
    display: "did.sd_jwt_vc_issuer_metadata"
    order: 20
    params:
      private:
        iacaCertificate: MIIC3TCCAoOgAwIBAgIUEwybFc9Jw-az3r188OiHDaxCfHEwCgYIKoZIzj0EAwMwXDEeMBwGA1UEAwwVUElEIElzc3VlciBDQSAtIFVUIDAyMS0wKwYDVQQKDCRFVURJIFdhbGxldCBSZWZlcmVuY2UgSW1wbGVtZW50YXRpb24xCzAJBgNVBAYTAlVUMB4XDTI1MDMyNDIwMjYxNFoXDTM0MDYyMDIwMjYxM1owXDEeMBwGA1UEAwwVUElEIElzc3VlciBDQSAtIFVUIDAyMS0wKwYDVQQKDCRFVURJIFdhbGxldCBSZWZlcmVuY2UgSW1wbGVtZW50YXRpb24xCzAJBgNVBAYTAlVUMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEesDKj9rCIcrGj0wbSXYvCV953bOPSYLZH5TNmhTz2xa7VdlvQgQeGZRg1PrF5AFwt070wvL9qr1DUDdvLp6a1qOCASEwggEdMBIGA1UdEwEB_wQIMAYBAf8CAQAwHwYDVR0jBBgwFoAUYseURyi9D6IWIKeawkmURPEB08cwEwYDVR0lBAwwCgYIK4ECAgAAAQcwQwYDVR0fBDwwOjA4oDagNIYyaHR0cHM6Ly9wcmVwcm9kLnBraS5ldWRpdy5kZXYvY3JsL3BpZF9DQV9VVF8wMi5jcmwwHQYDVR0OBBYEFGLHlEcovQ-iFiCnmsJJlETxAdPHMA4GA1UdDwEB_wQEAwIBBjBdBgNVHRIEVjBUhlJodHRwczovL2dpdGh1Yi5jb20vZXUtZGlnaXRhbC1pZGVudGl0eS13YWxsZXQvYXJjaGl0ZWN0dXJlLWFuZC1yZWZlcmVuY2UtZnJhbWV3b3JrMAoGCCqGSM49BAMDA0gAMEUCIQCe4R9rO4JhFp821kO8Gkb8rXm4qGG_e5_Oi2XmnTQqOQIgfFs-LDbnP2_j1MB4rwZ1FgGdpr4oyrFB9daZyRIcP90
  WEBVH:
    type: "WEBVH"
    display: "did.webvh"
    order: 21
    params:
      public:
        keys:
          min: 1
          max: 5
          authentication:
            min: 1
            max: 5
          assertionMethod:
            min: 1
            max: 5
          keyAgreement:
            min: 0
            max: 1
          capabilityInvocation:
            min: 0
            max: 1
          capabilityDelegation:
            min: 0
            max: 1
      private:
        maxDidLogEntryCheck: 10
datatype:
  STRING:
    display: "datatype.string"
    type: "STRING"
    order: 100
    params: null
  NUMBER:
    display: "datatype.number"
    type: "NUMBER"
    order: 200
    params: null
  DATE:
    display: "datatype.date"
    type: "DATE"
    order: 300
    params:
      public:
        formats: ["date", "datetime"]
  BIRTH_DATE:
    display: "datatype.birth_date"
    type: "DATE"
    order: 310
    params:
      public:
        formats: ["date", "datetime"]
        preferredFormat: "date"
        min: 1900-01-01
        max: "NOW"
        error:
          de: "Bitte wählen Sie ein Datum zwischen 1900-1-1 und heute"
          en: "Please choose a date between 1900-1-1 and today"
  EMAIL:
    display: "datatype.email"
    type: "STRING"
    order: 110
    params:
      public:
        autocomplete: true
        placeholder: "abc@abc.com"
        error:
          de: "Please provide email like abc@abc.com"
          en: "Please provide email like abc@abc.com"
        pattern: '^[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}$'
  PICTURE:
    display: "datatype.picture"
    type: "FILE"
    order: 400
    params:
      public:
        accept:
          - image/jpeg
          - image/png
        fileSize: 4194304
        showAs: IMAGE
  MDL_PICTURE:
    display: "datatype.mdlPicture"
    type: "FILE"
    order: 402
    params:
      public:
        accept:
          - image/jpeg
        fileSize: 4194304
        showAs: IMAGE
        encodeAsMdlPortrait: true
  COUNT:
    display: "datatype.count"
    type: "NUMBER"
    order: 210
    params:
      public:
        min: 0
        max: 9999
        error:
          de: "Bitte wählen Sie eine Zahl zwischen 0 und 9999"
          en: "Please provide a number between 0 and 9999"
  OBJECT:
    display: "datatype.object"
    type: "OBJECT"
    order: 500
    params: null
  BOOLEAN:
    display: "datatype.boolean"
    type: "BOOLEAN"
    order: 301
    params: null
  ARRAY:
    display: "datatype.array"
    type: "ARRAY"
    order: 101
    params: null
keyAlgorithm:
  EDDSA:
    display: "keyAlgorithm.eddsa"
    order: 0
    params: null
  ECDSA:
    display: "keyAlgorithm.ecdsa"
    order: 1
    params: null
  BBS_PLUS:
    display: "keyAlgorithm.bbs_plus"
    order: 2
    params: null
  DILITHIUM:
    display: "keyAlgorithm.dilithium"
    order: 3
    params: null
keyStorage:
  INTERNAL:
    display: "keyStorage.internal"
    type: "INTERNAL"
    order: 0
  PKCS11:
    display: "keyStorage.pkcs11"
    type: "PKCS11"
    enabled: false
    order: 2
    params: null
task:
  SUSPEND_CHECK:
    type: "SUSPEND_CHECK"
    display: "task.suspendCheck"
    order: 0
    params: null
  RETAIN_PROOF_CHECK:
    type: "RETAIN_PROOF_CHECK"
    display: "task.retainProofCheck"
    order: 1
    params: null
cacheEntities:
  STATUS_LIST_CREDENTIAL:
    cacheType: DB
    refreshAfter: 300
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  DID_DOCUMENT:
    cacheType: DB
    refreshAfter: 300
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  JSON_LD_CONTEXT:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  VCT_METADATA:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  JSON_SCHEMA:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  TRUST_LIST:
    cacheType: DB
    refreshAfter: 300
    cacheRefreshTimeout: 86400
    cacheSize: 1000
trustManagement:
  SIMPLE_TRUST_LIST:
    display: "trustManagement.simpleTrustList"
    type: "SIMPLE_TRUST_LIST"
    order: 1
    enabled: true
    params:
      public:
        enablePublishing: true
