app:
  databaseUrl: ""
  coreBaseUrl: "http://0.0.0.0:3000"
  serverIp: "0.0.0.0"
  serverPort: 3000
  traceJson: true
  traceLevel: "debug,hyper=error,sea_orm=info,sqlx::query=error,reqwest=error"
  sentryDsn: "https://2deca538f2c80d91bf6fd718fde96db6@o153694.ingest.sentry.io/4505940972142592"
  sentryEnvironment: ""
  hideErrorResponseCause: false
  allowInsecureHttpTransport: false
  insecureVcApiEndpointsEnabled: false
  enableMetrics: true
  enableExternalEndpoints: true
  enableManagementEndpoints: true
  enableServerInfo: true
  enableOpenApi: true
  enableWalletProvider: true
keyStorage:
  AZURE_VAULT:
    display: "keyStorage.azureKeyVault"
    type: "AZURE_VAULT"
    enabled: false
    order: 1
    params:
      private:
        oauthServiceUrl: "https://login.microsoftonline.com"
        vaultUrl: "https://one-dev.vault.azure.net"
        adTenantId: "0e235e47-054b-41b2-9c63-6aa0c115ce5b"
        clientId: "de515d45-53da-4b82-a34a-0e6b513db700"
        clientSecret: ""
cacheEntities:
  STATUS_LIST_CREDENTIAL:
    cacheType: DB
    refreshAfter: 300
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  DID_DOCUMENT:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
  JSON_LD_CONTEXT:
    cacheType: DB
    refreshAfter: 86400
    cacheRefreshTimeout: 86400
    cacheSize: 1000
credentialIssuer:
  EUDI_PID_FLOW:
    display:
      en: EUDI Issuer
      de: EUDI Issuer
    order: 1
    enabled: true
    params:
      public:
        issuer: https://eudiw-issuer.eudi.dev.procivis-one.com
      private:
        clientId: procivis-wallet-dev
